<div class="buffer-when">
<pre>
The bufferWhen operator in RxJS is used to dynamically open and close
buffers based on the emissions of a notifier observable.
It is particularly useful when you want to control the timing
of buffering using a separate observable to signal when to start and stop buffering.
</pre>
<div>
    <p>Start buffering after 2000 milliseconds,take upto 20 elements.</p>
    <h3>BufferWhen Data per Second: {{displayBufferWhen}}</h3>
    <h3>{{displayError}}</h3>
    <h3>Status: {{status}}</h3>
</div>
</div>
