<div class="buffer-toggle">
    <h3>Buffer Toggle</h3>
    <pre>The bufferToggle operator in RxJS is used to collect values
from the source observable into buffers that are opened 
and closed by two observables, referred to as openings and closingSelectors.
When an opening emission is received, the buffer starts collecting values.
When a closingSelector emission is received, the buffer is closed and emitted.</pre>

<h4>Buffer Toggle Values: {{displayBufferToggleValues}}</h4>

    <button class="btn btn-success" id="start">Start</button><br><br>
    <button class="btn btn-danger" id="end">End</button>  
</div>
