<!-- 
<app-rxjs-basic></app-rxjs-basic>
<app-custom-observable></app-custom-observable> 
<app-cancel-observable></app-cancel-observable>
<app-operator-basics></app-operator-basics>
<app-buffer-operator></app-buffer-operator>
<app-buffer></app-buffer>
<app-buffer-count></app-buffer-count>
<app-buffer-time></app-buffer-time>-->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>RXJS Operators</h3>
            <ul class="nav flex-column">
                <li class="nav-item"><a href="/home">Operators</a></li>
                <li class="nav-item"><a href="/buffer">Buffer</a></li>
                <li class="nav-item"><a href="/bufferCount">BufferCount</a></li>
                <li class="nav-item"><a href="/bufferTime">BufferTime</a></li>
                <li class="nav-item"><a href="/bufferToggle">BufferToggle</a></li>
                 <li class="nav-item"><a href="/bufferWhen">BufferWhen</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

