<div>
    <h3>Take Operator</h3>
    <div class="context">
        <p>
            The take operator in RxJS is a simple operator that limits the number of values 
            emitted by the source observable.It specifies the maximum number of values to emit
            before completing the observable.
        </p>
    </div>
    <p><strong>take conditions:</strong> take first 20 values</p>
    <p>Numbers: {{num}}</p>
    <button class="btn btn-primary" id="takeBtn">Take Values</button>
</div>
