<div class="container">
    <h4>TakeWhile</h4>
    <div class="context">
        <p>
            The takeWhile operator in RxJS emits values from the source observable until a 
            provided condition becomes false. It allows you to dynamically decide when to stop 
            emitting values based on a condition.
        </p>
    </div>
    <p><strong>takeWhile conditon:</strong> value must be less than 100</p>
    <p>Numbers: {{num}}</p>
    <p>{{status}}</p>
    <button class="btn btn-primary" id="takeBtn">Take Values</button>
</div>
